- @page = "Case Studies"
- @layout = "application"
- @page_title = "Your best use of technology"

- 5.times do
  %h2
    = @page    
  %p
    Fostering industry partnerships With IOIT's academic credit and unique neutral position in the ICT relationship network between government, companies, and universities together with the technological support from Microsoft, MIC Vietnam has all advantages to become a great consultancy service provider on Microsoft technology. MIC Vietnam will continuously evaluate different Microsoft products, technologies, and services on real systems or self-constructed prototypes to provide reliable advices for different customer sectors.
