- @page = "Contact"
- @layout = "application"
- @page_title = "Your best use of technology"

%h2
  = @page    
%p
  Mirosoft Innovation Center, Institute of Information Technology, Vietnam Academy of Science and Technology
  %br/
  18, Hoang Quoc Viet, Cau Giay, Ha Noi, Viet Nam
