- @page = "Home"
- @layout = "application"
- @page_title = "Your best use of technology"

- 5.times do
  %h2
    = @page
  %p
    Located at the Institute of Information Technology (IOIT), the Microsoft Innovation Center Vietnam (MIC Vietnam) tightly cooperates with Microsoft Vietnam to foster the deployment and application of Microsoft products, services, and technologies in Vietnam. The IOIT, an institution belonging to Vietnam Academy of Science and Technology, is the biggest national research institute in ICT with more than 150 researchers, of which are 22 professors and 50 doctors. For more than 30 years of its service, the IOIT have been taking part or coordinating almost every major national ICT programs. It also has been very actively building a strong relationship with other domestic and international educational and research institutions as well as ICT companies through numerous joint training programs and R&D projects. The establishment of MIC Vietnam as a result of a long cooperation between Microsoft Vietnam and IOIT will open a new and great opportunity for both in leveraging the Microsoft technology to best serve one of the most important emerging markets.
