- @layout = "application"
- @page_title = "Your best use of technology"
- @body_class = "homepage bp three-col"
- @page_description = "Microsoft Technology, IT Services, IT Training, SharePoint, CRM, .NET, Hanoi, Vietnam"

%h1 Welcome!
%button Click
%p= link "Contact Alex Nguyen", "mailto:tiendung@ioit.ac.vn"