- @layout = "application"
- @page_title = "Your best use of technology"
- @body_class = "homepage bp three-col"

%p
  Our world is changing rapidly, and so is the ongoing relationship between governments and the customers it serves. Today, the demands on governments to serve citizens and businesses have never been greater.
%p
  Microsoft can help. With the input of government customers and partners worldwide, we have created the Microsoft Citizen Service Platform (CSP), a solution set that helps local, regional, and national governments solve their unique business challenges. Component-based and rapidly configurable, Microsoft CSP can support common technology and process foundations across agencies helping local governments to deliver high quality, and highly efficient, services to citizens and businesses, everywhere.
%p
  Our world is changing rapidly, and so is the ongoing relationship between governments and the customers it serves. Today, the demands on governments to serve citizens and businesses have never been greater.
%p
  Microsoft can help. With the input of government customers and partners worldwide, we have created the Microsoft Citizen Service Platform (CSP), a solution set that helps local, regional, and national governments solve their unique business challenges. Component-based and rapidly configurable, Microsoft CSP can support common technology and process foundations across agencies helping local governments to deliver high quality, and highly efficient, services to citizens and businesses, everywhere.
%p
  Our world is changing rapidly, and so is the ongoing relationship between governments and the customers it serves. Today, the demands on governments to serve citizens and businesses have never been greater.
%p
  Microsoft can help. With the input of government customers and partners worldwide, we have created the Microsoft Citizen Service Platform (CSP), a solution set that helps local, regional, and national governments solve their unique business challenges. Component-based and rapidly configurable, Microsoft CSP can support common technology and process foundations across agencies helping local governments to deliver high quality, and highly efficient, services to citizens and businesses, everywhere.
%p
  Our world is changing rapidly, and so is the ongoing relationship between governments and the customers it serves. Today, the demands on governments to serve citizens and businesses have never been greater.
%p
  Microsoft can help. With the input of government customers and partners worldwide, we have created the Microsoft Citizen Service Platform (CSP), a solution set that helps local, regional, and national governments solve their unique business challenges. Component-based and rapidly configurable, Microsoft CSP can support common technology and process foundations across agencies helping local governments to deliver high quality, and highly efficient, services to citizens and businesses, everywhere.
%p
  Our world is changing rapidly, and so is the ongoing relationship between governments and the customers it serves. Today, the demands on governments to serve citizens and businesses have never been greater.
%p
  Microsoft can help. With the input of government customers and partners worldwide, we have created the Microsoft Citizen Service Platform (CSP), a solution set that helps local, regional, and national governments solve their unique business challenges. Component-based and rapidly configurable, Microsoft CSP can support common technology and process foundations across agencies helping local governments to deliver high quality, and highly efficient, services to citizens and businesses, everywhere.
%p
  Our world is changing rapidly, and so is the ongoing relationship between governments and the customers it serves. Today, the demands on governments to serve citizens and businesses have never been greater.
%p
  Microsoft can help. With the input of government customers and partners worldwide, we have created the Microsoft Citizen Service Platform (CSP), a solution set that helps local, regional, and national governments solve their unique business challenges. Component-based and rapidly configurable, Microsoft CSP can support common technology and process foundations across agencies helping local governments to deliver high quality, and highly efficient, services to citizens and businesses, everywhere.
