- @layout = "application"
- @page_title = "Your best use of technology"
- @body_class = "homepage bp three-col"
- @page_description = "Microsoft Technology, IT Services, IT Training, SharePoint, CRM, .NET, Hanoi, Vietnam"

%button Your best use of technology 