- @page = "Services"
- @layout = "application"
- @page_title = "Your best use of technology"

- 5.times do
  %h2
    = @page
  %p
    Technology investigation: These projects mainly aim at exploring Microsoft technology for training and consulting services including building prototypes to show the abilities of Microsoft product stacks or solution showcases for specified applications. An example is building a concrete implementation of Connected Government Framework as a showcase for governmental customers.
  %p
    Technology customization: Several Microsoft technologies or services are not ready for Vietnamese market, such as full language support (including voice and handwriting) and local data for search and map services. The importance of these features and services will increase rapidly when local market growing and maturing and Microsoft will need cooperation from local experts to realize them. Will support from Microsoft, MIC Vietnam will coordinate all those needed efforts from IOIT and other Vietnamese organizations in form of different projects.
    
