- @page = "Solutions"
- @layout = "application"
- @page_title = "Your best use of technology"

- 5.times do
  %h2
    = @page
  %p
    1. Building skills and intellectual capital through training courses, employment programs and mentoring experiences (examples include Students to Business, software business management, ISV Quality Assurance, Mini-MBA, Innovation Days, etc.)
  %p
    2. Fostering industry partnerships through programs on how to work successfully with Microsoft, as well as through the cultivation of local and regional industry alliances
  %p
    3. Increasing innovation at the local level through hands-on engagements, such as labs geared toward the interests of ISVs, startups, partners, students and entrepreneurs (examples include proof of concept, scalability and architectural reviews, interoperability labs, etc.)
