- @page = "Training"
- @layout = "application"
- @page_title = "Your best use of technology"

- 5.times do
  %h2
    = @page    
  %p
    Building skills and intellectual capital Inherited expertise and position of IOIT in academic education, the training programs at MIC Vietnam will focus on young developers, especially technical university students, who in a very near future will take the major part at every position in ICT development. Besides providing selected courses based on Microsoft Official Curriculum for the trainees to achieve Microsoft certifications, MIC Vietnam also aims to design special long complementary training program based on Microsoft technologies that students can participate concurrently with their official curriculum in universities. Occasionally MIC Vietnam and Microsoft will jointly organize workshops, seminar, and intensive training courses.
    
